napari==0.6.0a0
Sphinx
pydata-sphinx-theme
myst_nb
sphinx-autobuild
sphinx-tabs
sphinx-tags
sphinx-design
sphinx-external-toc
sphinx-favicon>=1.0
sphinx-copybutton
sphinx-gallery
sphinx_autodoc_typehints==1.12.0
sphinxcontrib-mermaid>=1.0.0
myst-nb
napari-sphinx-theme>=0.3.0
matplotlib
lxml[html_clean]>5
imageio-ffmpeg
pydeps
seedir
pytest
linkify-it-py
